.index_h1 {
  font-size: small;
}


.center {
  text-align: center;
  min-width: 50vw;
}

.page_structure {
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
}

.menu_hr {
  width: 100%;
  size: 1;
}

.menu {
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 200px;
}

.menu iframe {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 200px;
  height: 100%;
}

.contents {
  box-sizing: border-box;
}

.contents iframe {
  box-sizing: border-box;
  position: absolute;
  width: 95%;
  height: 70%;
}

table,
td {
  margin: auto;
  border: solid;
  border-width: 1;
}

th {
  color-scheme: only dark;
  height: 2.5em;
  margin: auto;
  border: solid;
}

main {
  overflow: hidden;
}



.simple_dom_js {
  position: absolute;
  right: max;
  bottom: 0;
}

.dom_parts_structure {
  box-sizing: border-box;
  right: max;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  flex-direction: column-reverse;
}

@media (prefers-color-scheme: no-preference) {
  body {
    color-scheme: only light;
    background-color: #fff;
    color: #000;
  }

  a:link {
    color-scheme: only light;
    color: #0000ff;
  }

  a:visited {
    color-scheme: only light;
    color: #857;
  }

  a:hover {
    color-scheme: only light;
    color: #f00;
  }
}

@media (prefers-color-scheme: dark) {

body {
  color-scheme: only dark;
  background-color: #222;
  color: #aaa;
}
a:link {
  color-scheme: only dark;
  color: #ffff99;
}

a:visited {
  color-scheme: only dark;
  color: #885577;
}

a:hover {
  color-scheme: only dark;
  color: #cf0;
}

.back_black {
  color-scheme: only dark;
  background-color: #222;
}
}